# --- Dependências Principais do ProductivityHub ---

# Interface e Web App
streamlit>=1.40.0
pandas>=2.0.0
python-dotenv>=1.0.0

# Manipulação de PDFs e Documentos
PyPDF2>=3.0.0
pymupdf>=1.23.0
pypandoc>=1.12

# Manipulação e Processamento de Imagens
pillow>=10.0.0
numpy>=1.24.0
opencv-python>=4.8.0
rembg>=2.0.50
rembg[gpu]

# Integrações de IA (Áudio e Resumos)
openai>=1.0.0

# OCR de Imagens Local e Offline
easyocr>=1.7.0

# SDK de IA do Google (Gemini Grátis)
google-generativeai>=0.3.0

pywebview>=5.0
